body{
  font-size: 40px;
  font-family: 'Revalia';
  text-align: center;
  background-color: lightslategrey;

}

h1 {
  font-size:200px;
  text-shadow:  3px  3px mediumturquoise,
    -3px -3px mediumturquoise,
    -3px  3px mediumturquoise,
  3px -3px mediumturquoise;

  text-shadow:  3px  3px lightyellow,
    -3px -3px lightyellow,
    -3px  3px lightyellow,
  3px -3px lightyellow;







}
p {
  font-family: 'SUSE';
}
  
