body{
  font-size: 40px;
  font-family: 'Syncopate';
  text-align: center;
  background-color: lightslategrey;

}

h1 {
   transform: scale(0.5);
  background-color: mediumorchid;
  padding: 40px;
  border: 20px solid mediumturquoise;
  margin: 0px;
  #border-radius: 500px 1000px 700px 1100px;
  #border-radius: 600px;
  
  font-size:400px;
  text-shadow:  6px  6px mediumturquoise,
    -6px -6px mediumturquoise,
    -6px  6px mediumturquoise,
  6px -6px mediumturquoise;
  letter-spacing: 10px;
  
  







}
p {
  font-family: 'SUSE';
}
  
